* {
	margin: 0;
	padding: 0;
	
}

body {
	height: 100vh;
	background: url('https://images.pexels.com/photos/1007025/pexels-photo-1007025.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	position: relative;
	/*font-family: 'Gloria Hallelujah', cursive;*/
	font-family: 'Gochi Hand', cursive;
}

.container-task {
	position: absolute;
	background: rgba(248,217,215,.5);
	box-shadow: 2px 2px 25px gray;
	left: 50%;
	transform: translateX(-50%);
	border-radius: 10px;
	padding: 1%; 
	margin: 5% auto;
}

h1 {
	text-align: center;
	margin: 10px auto;
	color: #df7201;
	border-bottom-width: 3px;
	border-bottom-color: white;
	border-bottom-style: solid;
	font-size: 3rem;
}

input {
	border-radius: 5px;
}

ul {
	list-style-type: none;

}

.lists {
	margin-left: 50px;
	margin-right: 50px;
	background: rgba(0,0,0,0);	
	border: none;
	border-bottom-width: 3px;
	border-bottom-color: white;
	border-bottom-style: solid;
}

.todo-list input {
	display: none;
}

.todo-list input + label::before {
	content: '⬜️';
	color: rgba(150,102,98,1);
	margin-left: 10px;
}

.todo-list input:checked + label::before {
	content: '✓';
	color: rgba(150,102,98,1);
	margin-left: 10px;
}

.delBtn {
	color: rgba(150,102,98,1);
	background: rgba(255,255,255,0);
	opacity: 0;
	transition: 400ms;
}

.lists:hover .delBtn {
	opacity: 1;
	transition: 400ms;
}

button {
	border-radius: 5px;
	padding: 5px;
	color: rgba(150,102,98,1);
	background: rgba(255,255,255,0);
}
